{% extends 'base.html' %}
{% block content %}

 <!-- Header -->
 <header class="masthead bg-index text-white text-center py-5">
    
    <div class="container d-flex align-items-center flex-column py-4">
        <h2 class="fs-1 fw-bold wpr-anim-text-visible">Grocery Store</h2>
        <p class="py-5 fs-3 text-dark pb-5">Your Ticket to Unlimited Fruits & Veg's!</p>
        <div class="container d-flex ">
            <p class="py-2 fs-3 align-items-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Repellendus inventore, ducimus eius officia quos harum, quo quas voluptatibus tempora ipsa ab placeat porro.</p>
        </div>
</div>
</header>
<!-- Header -->

<div class="p-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col mx-auto mb-3 text-center">
               <h4> Welcome to the best Grocery Mart!!</h4>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
